<a href="https://colab.research.google.com/github/aayush1036/python_for_financial_analysis/blob/main/pandas_date_time.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from datetime import datetime
my_year = 2017
my_month = 1
my_day = 2
my_hour = 13
my_minute = 30
my_seconds = 15

In [ ]:
my_date = datetime(my_year, my_month, my_day)

In [ ]:
my_date #defaults to 00:00 if no minute or hour is specified

datetime.datetime(2017, 1, 2, 0, 0)

In [ ]:
my_date_time = datetime(my_year, my_month, my_day, my_hour, my_minute, my_seconds)

In [ ]:
my_date_time

datetime.datetime(2017, 1, 2, 13, 30, 15)

In [ ]:
my_date_time.month

1

In [ ]:
first_two = [datetime(2016,1,1), datetime(2016,1,2)]

In [ ]:
type(first_two) #list of datetime objects

list

In [ ]:
first_two

[datetime.datetime(2016, 1, 1, 0, 0), datetime.datetime(2016, 1, 2, 0, 0)]

In [ ]:
dt_ind = pd.DatetimeIndex(first_two)

In [ ]:
dt_ind

DatetimeIndex(['2016-01-01', '2016-01-02'], dtype='datetime64[ns]', freq=None)

In [ ]:
data = np.random.randn(2,2)

In [ ]:
cols = ['a', 'b']

In [ ]:
df = pd.DataFrame(data, dt_ind, cols)

In [ ]:
df

                   a         b
2016-01-01  0.648973 -0.273438
2016-01-02 -0.350710  0.830475

In [ ]:
df.index.argmax() #returuns the position of the latest date

1

In [ ]:
df.index.max() #returns the timestamp of the latest date

Timestamp('2016-01-02 00:00:00')

In [ ]:
df.index.argmin() #returuns the position of the earliest date

0

In [ ]:
df.index.min() #returns the timestamp of the earliest date

Timestamp('2016-01-01 00:00:00')