In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('time_data/walmart_stock.csv')

In [5]:
df.rolling(window = 7).mean().head(14)

         Open       High        Low      Close        Volume  Adj Close
0         NaN        NaN        NaN        NaN           NaN        NaN
1         NaN        NaN        NaN        NaN           NaN        NaN
2         NaN        NaN        NaN        NaN           NaN        NaN
3         NaN        NaN        NaN        NaN           NaN        NaN
4         NaN        NaN        NaN        NaN           NaN        NaN
5         NaN        NaN        NaN        NaN           NaN        NaN
6   59.495714  59.895714  59.074285  59.440000  9.007414e+06  51.842984
7   59.469999  59.744285  59.007143  59.321429  8.231357e+06  51.739567
8   59.322857  59.638571  58.941428  59.297143  7.965071e+06  51.718386
9   59.397143  59.708571  59.105714  59.358572  7.355329e+06  51.771963
10  59.450000  59.791428  59.217143  59.502857  7.047043e+06  51.897808
11  59.578572  59.960000  59.335715  59.707143  7.412086e+06  52.075984
12  59.767143  60.180000  59.577143  59.988571  7.908014e+06  52.321443
13  60.017143  60.387143  59.787143  60.204285  8.017800e+06  52.509586

In [6]:
df['Open'][0:7].mean() #7 is exclusive

59.49571371428571

In [7]:
df['Open'][1:8].mean()

59.469999428571434

In [8]:
df.expanding().mean()

           Open       High        Low      Close        Volume  Adj Close
0     59.970001  61.060001  59.869999  60.330002  1.266880e+07  52.619235
1     60.090000  60.704999  59.670000  60.020001  1.113105e+07  52.348855
2     59.843333  60.343333  59.236666  59.820000  1.167677e+07  52.174416
3     59.737499  60.120000  59.145000  59.615000  1.077492e+07  51.995617
4     59.595999  60.006000  59.099999  59.528000  9.955800e+06  51.919737
...         ...        ...        ...        ...           ...        ...
1253  72.367313  72.849426  71.927544  72.398150  8.231973e+06  67.233727
1254  72.364869  72.847012  71.925410  72.396000  8.228948e+06  67.235287
1255  72.362938  72.844745  71.923288  72.393543  8.226278e+06  67.236536
1256  72.360430  72.842100  71.921058  72.391050  8.223154e+06  67.237743
1257  72.357854  72.839388  71.918601  72.388450  8.222093e+06  67.238838

[1258 rows x 6 columns]

In [9]:
df['Open'][0:2].mean() #2 is exclusive

60.09

In [10]:
df['Open'][0:3].mean()

59.84333266666667